/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 24px;
}
a,
a:focus,
a:hover{
    text-decoration: none;
    color: #FFF;
}
section{
    background: #FFF;
}
.main-heading{
    font-family: 'Mr Dafoe', cursive;
}
/****************************************
            HELPER FUNCTIONS
******************************************/
.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}
.m-10{
    margin: 10px!important;
}
.m-15{
    margin: 15px!important;
}
.m-20{
    margin: 20px!important;
}
.m-25{
    margin: 25px!important;
}
.m-30{
    margin: 30px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-40{
    margin-bottom: 40px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}

.m-l-90{
    margin-left: 90px;
}

.m-l-40{
    margin-left: 40px;
}

.m-t-5{
    margin-top: 5px;        
}

.m-t-10{
    margin-top: 10px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-40{
    margin-top: 40px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}

.pd-0{
    padding: 0!important;
}
.pd-5{
    padding: 5px!important;
}
.pd-10{
    padding: 10px!important;
}
.pd-15{
    padding: 15px!important;
}
.pd-20{
    padding: 20px!important;
}
.pd-25{
    padding: 25px!important;
}
.pd-30{
    padding: 30px!important;
}


.pd-lr-5{
    padding:0 5px!important;
}
.pd-lr-10{
    padding:0 10px!important;
}
.pd-lr-15{
    padding: 0 15px!important;
}
.pd-lr-20{
    padding: 0 20px!important;
}
.pd-lr-25{
    padding: 0 25px!important;
}
.pd-lr-30{
    padding: 0 30px!important;
}


.pd-tb-5{
    padding: 5px 0!important;
}
.pd-tb-10{
    padding: 10px 0!important;
}
.pd-tb-15{
    padding: 15px 0!important;
}
.pd-tb-20{
    padding: 20px 0!important;
}
.pd-tb-25{
    padding: 25px 0!important;
}
.pd-tb-30{
    padding: 30px 0!important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-hover-primary:hover{
    color: #B3DD37; 
}

.text-primary{
    color: #B3DD37;
}

.text-white{
    color: #FFF;
}

.text-gray{
    color: #888888;
}

.text-light-gray{
    color: #cfcfcf;
}

.background-black{
    background-color: #272824;
}

.button-primary{
    background-color:#B3DD37;
    color: #FFF;
    cursor: pointer;
    border: solid 2px #B3DD37;
    padding: 8px 17px;
}

.button-primary:hover{
    background-color: #FFF;
    color: #B3DD37;
    border: solid 2px #B3DD37;
}

.btn-white{
    padding: 0;
    background-color: #fff;
    color: #272824;
    cursor: pointer;
}

.icons-circle{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: solid 1px #FFF;
    text-align: center;
    padding-top: 5px;
}

.text-center{
    text-align: center;
}

li{
    list-style: none;
}

.capitalize{
    text-transform: capitalize;
}

.underline-primary{
    text-decoration: underline;
    color: #B3DD37;
}

/****************************************
            CONTENT BOXES
******************************************/
.content-box-lg{
    padding: 100px 0;
}
.content-box-md{
    padding:70px 0;
}
.content-box-sm{
    padding:40px 0;
}
.content-box-xsm{
/*    padding: 40px 0;*/
}
/******************************
        HEADING
*********************************/
.heading-general{
    text-transform: capitalize;
    text-align: center;
}
.heading-large{
    font-size: 40px;
    font-weight: 700!important;
    color: #333333;
    margin-top: 0px;
}

.heading-primary{
    font-size: 36px;
    font-weight: 500!important;
}

.heading-general .heading-border{
    display: inline-block;
    width: 50%;
    height: 1px;
}
.heading-general .heading-border::after{
    width: 20%;
/*    height: 45px;*/
    content : "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    
}
.heading-general .heading-border::before{
    position: relative;
    top: 0;
    display: inline-block;
    content: "";
    width: 20%;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}


.heading-left{
    text-align: none;
}
.heading-left .heading-border{
    display: inline-block;
    width: 50%;
    height: 1px;
}
.heading-left .heading-border::after{
    width: 20%;
/*    height: 45px;*/
    content : "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    
}
/*****************************************
            TOP NAV
******************************************/
.background-black.pd-10 .fa{
    font-size: 16px!important;
}
.top-nav{
    display: block;
    font-weight: 100;
}

.top-nav p{
    display: inline;
}

.top-nav ul{
    display: inline;
}

.top-nav ul li{
    display: inline-block;
}

.icon-text{
    background-color: #FFF;
    color: #272824;
}

.icon-text:hover{
    background-color: #B3DD37;
    color: #FFF;
    border: solid 1px #B3DD37;
}

.icon{
    font-size: 16px;
}

.icons-right{
    margin-left: 550px;
}

.envelope:before{
    position: relative;
    top: 3px;
}

/****************************************
            NAVBAR
****************************************/
#navbar{
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    background: none;
    color: #FFF;
}
#navbar li{
    display: inline-block;
}
.navbar-item{
    padding: 2rem 4rem;
}
.navbar-item-img img{
    padding: 0;
    width: 90px;
    height: 80px;
}
/****************************************
            HOME 
****************************************/
#home{
    height: 100vh;
    background: none;
    overflow: hidden;
}
#bg-image{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;/*This is bcoz to help with overlay over the video*/
    background: url(../img/1.jpg) no-repeat cover;
}

#home-overlay{
    width: 50%;    
    height: 98%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}
#home-heading{
    color: #c0e258;
    font-size: 70px!important;
}
.home-seperator{
    width: 60px;
    height: 3px;
    background-color: #FFF    ;
}
.heading-go-green{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.home-para{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.home-content{
    margin-top: 200px;
}
#home-content-img{
    position: absolute;
    top: 0px;
    left: 50px;
    width: 100px;
    height: 100px;
}
.btn-home-general{
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color:#B3DD37;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    transition: all .3s ease;
}
.btn-home-general:hover{
    color: #000;
    background-color: #FFF;
    cursor: pointer;
}
.btn-home-white{
    color: #000;
    background-color: #FFF;
}
.btn-home-white:hover{
   color: #FFF;
    background-color:#B3DD37;
    cursor: pointer;
}
/****************************************
            ABOUT US
****************************************/
#about-padding{
    padding-top: 0px!important;
}
.dark-font{
    font-size: 14px;
    font-weight: 500!important;
}
.about-us{
/*    background-color: #DDD!important;*/
}
.light-font{
    color: #888;
}

.fa.content-icon{
    font-weight: 100;
    font-size: 10px!important;
    margin-right: 5px;
}

.vision-right-arrow{
    margin-left: 380px;
    color: #888;
}

.mission-right-arrow{
    margin-left:375px;
    color: #888;
}

.detail-right-arrow{
    margin-left: 355px;
    color: #888;
}

.border{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 88%;
    height: 2px;
    background-color: #cfcfcf;
}

.hidden{
    display: none;
}

.visible-block{
    display: block;
}

.content-box-m10{
    margin-left: 140px;
    margin-right: 75px;
}
.about-image{
    position: relative;
/*    overflow: hidden;*/
}
.square-border{
    position: absolute;
    top: 147px;
    left: -8px;
    width: 240px;
    height: 210px;
    background-color: #c0e258;
/*    z-index: -1;*/
}
.square-image img{
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 450px;
    height: 350px;
/*    z-index: 99;*/
}

.circle-border{
    position: absolute;
    top: -80px;
    left: 210px;
    width:420px;
    height: 400px;
    background-color: #c0e258;
    border-radius: 100%;
}
.circle-image img{
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: -82px;
    left:220px;
    width: 420px;
    height: 400px;
    border-radius: 50%;
}
/****************************************
            OUR GALLERY HOME
******************************************/

#our-gallery-home{
    background-color: rgb(241,241,241);
}
#our-gallery-home .col-md-4{
    padding: 0.5px;
}
.gallery-item{
    overflow: hidden;
    position: relative;
}
.gallery-item img{
    transition: all .4s ease;
}
.gallery-item-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
}
.gallery-overlay-details{
    padding: 3rem;
    margin-top: 130px;
}
.gallery-overlay-details h3{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.gallery-overlay-details span{
/*    position: absolute;*/
    width: 100%;
    height: 1px;
    background: #555;
/*    border: 1px solid red;*/
    z-index: 1;
}
.gallery-overlay-details span::after{
    content: "+";
    display: inline-block;
    position: relative;
    top: -21px;
    left: 80%;
    width: 40px;
    height: 40px;
    text-align: center;
/*    padding: 1rem;*/
    font-size: 30px;
    font-weight: 300!important;
    border: 1px solid #555;
    border-radius: 50%;
    z-index: 2;
/*    background-color:rgba(0,0,0,0.5);*/
    
}
.gallery-overlay-details p{
    text-transform: capitalize;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: -25px;
}
.gallery-item:hover .gallery-item-overlay{
    opacity: 1;
}

/*********************************
            STATEMENT SECTION
*******************************/
#statement{
    position: relative;
    background: url('../img/2-2.jpg') no-repeat  center;
    background-size: cover;
    color: #FFF;
}
#statement h3{
    font-size: 28px;
    font-weight: 600;
}
#statement p{
    font-size: 16px;
}
.overlay-statement{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
.fa{
    font-size: 32px!important;
}


/***************************
        ABOUT HTML
***************************/

#about-header{
    height: 50vh;
    background: none;
    overflow: hidden;
}

#about-header #bg-image img{
    position: absolute;
    top:30%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 50vh;
    width: auto;
    height: auto;
/*    background: url(../img/3-cropped.png) no-repeat cover;*/
}
#home-overlay-direcory{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}
#directory-col{
    margin-top: 100px;
}
.directory{
    color:#B3DD37;
}


/**************************************
    AYUSH CSS
*********************************/
/*****************************************
                BUTTONS
*****************************************/
.button-primary{
    background-color:#B3DD37;
    color: #FFF;
    cursor: pointer;
    border: solid 2px #B3DD37;
    padding: 8px 17px;
}

.button-primary:hover{
    background-color: #FFF;
    color: #B3DD37;
    border: solid 2px #B3DD37;
}

/******************************
        HEADING
*********************************/
.heading-general{
    text-transform: capitalize;
    text-align: center;
}
.heading-large{
    font-size: 40px;
    font-weight: 700!important;
    color: #333333;
    margin-top: 0px;
}

.heading-primary{
    font-size: 36px;
    font-weight: 500!important;
}

.heading-general .heading-border{
    display: inline-block;
    width: 50%;
    height: 1px;
}
.heading-general .heading-border::after{
    width: 20%;
/*    height: 45px;*/
    content : "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    
}
.heading-general .heading-border::before{
    position: relative;
    top: 0;
    display: inline-block;
    content: "";
    width: 20%;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}

.dark-font{
    font-size: 16px;
    font-weight: 500!important;
}

.heading-left{
    text-align: none;
}
.heading-left .heading-border{
    display: inline-block;
    width: 50%;
    height: 1px;
}
.heading-left .heading-border::after{
    width: 20%;
/*    height: 45px;*/
    content : "";
    display: inline-block;
    position: relative;
    top: 1px;
    left: 5px;
    height: 5px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    
}
/******************************************
            BLOG RECENT WORK
******************************************/
.blog{
    overflow: hidden;
    position: relative;
}
.br-15{
    overflow: hidden;
    border-radius: 10px;
}
.blog img{
    width: 100%;
}
.info-date{
    text-align: left;
    margin-left: 22px;
    margin-top: 15px;
    margin-bottom: 75px;
}
.badge{
    background-color: #a0d405;
    color: #000;
    padding: 8px;
    border-radius: 5px;
}
.info-content{
    margin: 20px;
}
/*
.blog-overlay{
    background-color: rgba(0,0,0,0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    opacity: 0;
}
.blog:hover .blog-overlay{
    opacity: 1;
}
*/
.blog-info{
/*
    top: 50%;
    left: 50%;
*/
    text-align: center;
    position: absolute;
/*    transform: translate(-50%, -50%);*/
}
.blog-info h4{
    color: #000;
    text-align: center;
/*    font-size: 1.5rem;*/
    font-weight: 600;
}
.blog-info p{
    text-align: center;
    color: #000;
}
.blog-overlay{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
/*    transform: translateY(-50%);     */
    background-color: rgba(255,255,255,0.8);
/*    padding: 1rem;*/
    text-align: center;
    opacity: 0;
    transition: all .4s ease;
}
.blog:hover .blog-overlay{
    opacity: 1;
    cursor: pointer;
}
.rm{
    color: #a0d405!important;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 40px;
}

.info-footer{
     margin-TOP: 110px;
    background-color:  #a0d405;
}

.footer{
   
    padding:  7px 30px;
/*    padding-right: 260px;*/
/*    width: 100px;*/
}
.tp li{
    display: inline-block;
}

.heart:before{
    position: relative;
    top: 1.5px;
}

.comment:before{
    position: relative;
    top: 1.5px;
}
.services-about{
    height: 900px;
}
.pad-cont{
    padding: 110px 105px;
}
.content{
    padding: 15px 0;
    padding-right: 200px;
}
.color-grey{
    color: #888888;
    padding-right: 200px;
    font-size: 14px;
}
.mgt-40{
    margin-top: 40px;
}
.services-our-work{
    height: 900px;
/*    padding-right: 70px;*/
}
.tree{
    padding-right: 50px;
}
/*
.wind{
    background-color: #000;
}
*/
.learn-more{
    font-weight: 700;
    color: #a0d405;
}
.uppercase{
    text-transform: uppercase;
}
.learn-more:hover{
    color: #000;
}
.content-left{
/*    padding: 0;*/
    padding-left: 130px;
    padding-right: 40px;
    margin: 20px 0;
    text-align: right;
/*    width: 270px;*/
}
.content-right{
/*    width: 200px;*/
    margin: 20px 0;
    padding-left: 40px;
    padding-right: 130px;
    text-align: left;
}
#ayush-btn{
    margin-top: 20px;
}
.grey{
    color: #888888;
}

.tree{
    width: 500px!important;
    margin-top: 60px;
}

/*********************************
    JHANVI CSS
******************************/

/**************************
        CARD
**************************/
.card{
    margin: 1px;
    padding: 0;
    background-color: #F4F4F4;
    color: #888;
    width: 370px;
    text-align: center;
    cursor: pointer;
}

.card p{
    padding: 0;
    margin: 0;
    
}

#card-company{
    padding: 0;
    margin: 0;
}


/*******************************
        JOIN EVENTS
*******************************/

.item{
    margin-top: 30px;
    padding-left: 15px;
}

.item-head{
    padding-top: 15px;    
}

.item-img{
    padding-top: 10px;
}

.item-content{
    width: 250px;
    padding-bottom: 30px;
}

#join .items .item:hover{
    background: #B3DD37;
    color: #F4F4F4;
    transition: background .3s, color .3s;
    cursor: pointer;
    border-radius: 2%;
}
#join .items .item:hover i{
    background: #F4F4F4;
    color: #B3DD37;
}
#join{
    border-color: #FFF;
}
.p-t-10{
   padding-top: 10px;
}

.progress{
    margin-top: 30px;
    height: 1px;
    border-radius: 25px;
    background: #EFEFEF;
    overflow: visible;     
}

.progress-bar{
    background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #B3DD37 100%);
    border-radius: 25px;
    position: relative;
}

.circle{
    border: solid 5px #B3DD37;
    border-radius: 100%;
    top: -8px;  
    position: relative;
}

.progress-bar span{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: #555;
    top: -40px;
    right: -14px;
    padding: 3px;
}


.progress-bar span:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 28%;
}
/********************************************************************************
                                FOOTER
*********************************************************************************/
.p-l{
    padding-left: 70px;
}

.p-t-40{
    padding-top: 50px;
}

.p-t-30{
    padding-top: 30px;
}

.p-r-10{
    padding-right: 10px;
}

.p-l-10{
    padding-left: 40px;
}

.fs-10{
    font-size: 10px;
    font-weight: 100;
}

.icons-footer{
    display: inline-block;
}

.icons-footer li{
    display: inline;
    
}

.icons-circle-black{
 height: 25px;
    width: 25px;
    border-radius: 100%;
    border: solid 1px #333;
    background-color: #333;
    text-align: center;
    padding-top: 5px;
    
}

.icons-circle-black:hover{
    background-color: #FFF;
    color: #333;
}

.useful{
    font-size: 16px;
    font-weight: 600!important;
}

.link-pg li{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
}

.links li{
    display: inline;
}

.border-sm{
    border: solid 0.8px #ccc;
}
.border-sm-mid{
    border: solid 0.5px #ccc;
}

.p-l-5{
    padding-left: 17px;
}

.p-b-10{
    padding-top: 0;
    padding-bottom: 20px;
}

.background-dark-black{
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

.link{
    padding: 5px;
}

.link:hover{
    color: #FFF;
    cursor: pointer;
}

.text{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 500px;    
}
footer .fa{
    font-size: 10px!important;
} 




    /************************************
         CONTACT SECTION
************************************/
.contact-heading{
    color: #000;
}
.pad-105{
    padding: 0 105px;}
.form-group{
    padding-right: 15px;
    padding-left: 0;
}
.light-gray{
    background-color: #f5f5f5;
}
.light-gray{
    background-color: #f5f5f5;
}
.black{
    color: #000;
}
.m-t-b{
    margin: 30px 0;
}





